// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


nav{
  color:white;
}

.job-section{
  font-size: 20px;
  border-radius:5px;
  border: solid 1px #DDD ;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: white;
}
.job-context{
  display: inline-block; 
  vertical-align: middle;
  line-height: normal;
}
.job-label{

  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  
  color: white;
  text-align: center;
  display: inline-block;
  font-weight: bold;

  width: 100px;
  margin:0px 15px;
  padding: 3px 10px;

  box-shadow: 1px 1px 2px #222
}

  
.business-header {
    height: 400px;
    background: image-url("the_road.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.tagline{
  display: inline;
  margin: 0 auto;
  padding-left: 10%;
  text-align:left; 
  height:400px; 
  line-height:400px;
  text-shadow: 0 0 10px #000;
  color: #fff;
}


.full-time{
  background-color: #039be5;
}
.part-time{
  background-color: #43a047;
}
.internship{
  background-color: #7e57c2;
}
.other{
  background-color: #0097a7;
}